*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fon.jpg);
    background-repeat:no-repeat;
    background-size: 100% 110%;
    font-family: 'Oswald', sans-serif;
}
.container{
    max-width: 90%;
    margin: auto;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.text{
    max-width: 60%;
    margin: auto;
    color: rgb(65, 65, 65);
    font-size: 22px;
    margin-top: 5%;
    font-weight: 500;
    border: 1px solid rgb(41, 41, 41);
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    
   
}
span{
    font-weight: 700;
}
li{
    margin-bottom: 1%;
}
@media screen and (max-width:1280px) and (max-height:800px) {
    .text{
        font-size:18px;
        max-width: 50%;
    }
  
}
@media screen and (max-width:1024px) and (max-height:600px){
    .text{
        font-size:14px;
        max-width: 50%;
    }
   
    h1{
        font-size: 35px;
    }
}
@media screen and (max-width:768px) and (max-height:1024px){
    .text{
        max-width: 70%;
        font-size: 15px;
        margin-bottom: 5%;
    }
   
}
@media screen and (max-width:540px) and (max-height:720px){
    .text{
        font-size:13px;
        max-width: 80%;
        
    }
    
    h1{
        font-size: 27px;
    }
}
@media screen and (max-width:414px) and (max-height:896px){
    .text{
        font-size:14px;
        max-width: 80%;
        
    }
 
    h1{
        font-size: 27px;
    }
}
@media screen and (max-width:412px) and (max-height:915px){
    .text{
        font-size:14px;
        max-width: 80%;
        
    }
    
    h1{
        font-size: 27px;
    }
}
@media screen and (max-width:390px) and (max-height:844px){
    .text{
        font-size:13px;
        max-width: 90%;
        
    }
   
    h1{
        font-size: 24px;
    }
}
@media screen and (max-width:375px) and (max-height:667px){
    .text{
        font-size:12px;
        max-width: 90%;
        
    }
  
    h1{
        font-size: 23px;
    }
}
@media screen and (max-width:360px) and (max-height:740px){
    .text{
        font-size:12px;
        max-width: 90%;
        
    }
    
    h1{
        font-size: 23px;
    }
}
@media screen and (max-width:280px) and (max-height:653px){
    .text{
        font-size:10px;
        max-width: 95%;
        
    }
   
    h1{
        font-size: 20px;
    }
}